.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 136px;
  // width: 100%;
  // height: 56px;
  padding: 10px 20px;

  font-size: 18px;
  line-height: 20px;

  color: #ffffff;
  background-color: rgba(59, 130, 246, 1);

  border: 2px solid transparent;
  border-radius: 8px;

  cursor: pointer;

  &:hover {
    background-color: rgba(29, 78, 216, 1);
  }

  &:focus {
    border-color: rgba(96, 165, 250, 1);
    background-color: rgba(37, 99, 235, 1);
  }

  &:active {
    background-color: rgba(30, 64, 175, 1);
  }

  &:disabled {
    background-color: rgba(147, 197, 253, 1);

    cursor: default;
  }

  &__small {
    min-width: 124px;
    padding: 6px 20px;

    font-size: 14px;
    line-height: 16px;
  }

  &__medium {
    min-width: 130px;
    padding: 8px 20px;

    font-size: 16px;
    line-height: 20px;
  }

  &__secondary {
    background-color: transparent;
    border-color: rgba(59, 130, 246, 1);
    color: rgba(59, 130, 246, 1);

    &:hover {
      background-color: transparent;
      border-color: rgba(29, 78, 216, 1);
      color: rgba(29, 78, 216, 1);
    }

    &:focus {
      background-color: transparent;
      border-color: rgba(96, 165, 250, 1);
      color: rgba(96, 165, 250, 1);
    }

    &:active {
      background-color: transparent;
      border-color: rgba(30, 64, 175, 1);
      color: rgba(30, 64, 175, 1);
    }

    &:disabled {
      background-color: transparent;
      border-color: rgba(147, 197, 253, 1);
      color: rgba(147, 197, 253, 1);

      cursor: default;
    }
  }
}
