@import '../../app/styles/vars.module.scss';

.cardFull {
  max-width: 378px;
  max-height: 572px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: $text-gray-color;

  .cardFull__cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    padding-bottom: 80px;
    -bottom: 80px;
  }
  .cardFull__cardMiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .cardFull__icon {
    display: flex;
  }

  .cardFull_arrowDown {
    transform: rotate(180deg);
  }
  .cardFull_red {
    color: $red-color;
  }
  .cardFull_green {
    color: $green-color;
  }
  .cardFull__category {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
    color: $text-gray-color;
  }

  .cardFull__summ {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
  }
  .cardFull__shortDescription {
    font-size: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    word-break: break-all;
  }
  .cardFull__description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 16px;
    overflow: hidden;
    word-break: break-all;
  }

  .cardFull__date {
    font-size: 12px;
    color: #999;
    margin-bottom: 16px;
  }

  .cardFull__editButton {
    color: $text-gray-color;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 40px;
    &:hover {
      opacity: 0.8;
    }
  }
}
