/* stylelint-disable */
@import '../../app/styles/vars.module';

.cardFull {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 378px;
  max-height: 572px;
  margin: 0 auto;
  padding: 20px 30px;
  overflow: hidden;
  color: $text-gray-color;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

  .cardTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    font-size: 40px;
    -bottom: 80px;
  }

  .cardMiddle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .icon {
    display: flex;
  }

  .arrowDown {
    transform: rotate(180deg);
  }

  .red {
    color: $red-color;
  }

  .green {
    color: $green-color;
  }

  .category {
    display: flex;
    justify-content: flex-start;
    color: $text-gray-color;
    font-weight: 700;
    font-size: 24px;
  }

  .summ {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 24px;

    &.red {
      color: $red-color;
    }

    &.green {
      color: $green-color;
    }
  }

  .shortDescription {
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    word-break: break-all;
  }

  .description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 16px;
    word-break: break-all;
  }

  .date {
    margin-bottom: 16px;
    color: #999;
    font-size: 12px;
  }

  .editButton {
    color: $text-gray-color;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
/* stylelint-enable */
