@import '../../app/styles/vars.module';

.layout {
  background-color: var(--blue-gray-200);

  &_wrap {
    display: flex;
  }

  &_sidebar {
    width: 100%;
    max-width: 264px;
    background-color: $bg-color;
  }

  &_content {
    width: 100vw;
    height: calc(100vh - 70px);
    padding-top: 50px;
  }
}
