.layout {
  background-color: #e2e8f0;

  &_wrap {
    display: flex;
  }

  &_sidebar {
    background-color: #fff;
    max-width: 264px;
    width: 100%;
  }

  &_content {
    height: 100vh;
    margin-top: 70px;
    width: 100vw;
  }
}
