.modal {
  position: absolute;
  z-index: 99;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgb(100 116 139 / 30%);
  inset: 0;

  &_element {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 550px;
    height: 260px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgb(9 30 66 / 16%);
    transform: translate(-50%, -50%);
  }

  &_header {
    display: flex;
    margin-bottom: 16px;
  }

  &_title {
    margin: 0;
    font-size: 18px;
    font-weight: 550;
  }

  &_closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &_content {
  }
}
