.operationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &_btnGroup {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 16px;
  }

  &_group {
    display: flex;
    gap: 8px;
  }

  &_submit {
    min-width: 124px;
  }

  &_cancel {
    min-width: 124px;
  }

  &_delete {
    & svg {
      width: 20px;
      height: 20px;
    }

    & path {
      fill: rgb(59 130 246);
    }
  }
}

.checkboxGroup {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;

  &_label {
    margin-bottom: 4px;
    color: #64748b;

    &_required {
      color: #f87171;
    }
  }

  &_wrap {
    display: flex;
    gap: 8px;
    width: min-content;
  }
}

.icon {
  &__profit {
    & path {
      fill: rgb(34 197 94);
    }
  }

  &__cost {
    & path {
      fill: rgb(239 68 68);
    }
  }

  &_error {
    position: absolute;
    bottom: -20px;
    color: #f87171;
    font-size: 12px;
    line-height: 16px;
  }
}

.select {
  position: relative;
  margin-bottom: 25px;

  &_labelText {
    position: relative;
    left: 20px;
    display: inline-block;
    margin-bottom: 4px;
    color: #64748b;
  }

  &_labelRequired {
    color: #f87171;
  }

  &_error {
    position: absolute;
    bottom: -20px;
    left: 20px;
    color: #f87171;
    font-size: 12px;
    line-height: 16px;
  }
}
