.root {
  border-bottom: 1px solid #93C5FD;
  background: #FFF;
  position: sticky;
  top: 0;
  display: flex;
  padding: 18px 32px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}
